<section class = "section">
  <div class = "container">
    <div class = "columns">
      <%= render 'trends'%>
      <%= render 'feed'%>
      <%= render 'who-to-follow' %>
      <%= button_to "Logout" , logout_path , method: :delete%>
    </div>
  </div>  
</section>
  